### Apertura de base de datos

In [ ]:
/*
--------------------------------------------------------------------
Name   : Sistema Eléctrico
Version: 1.0
--------------------------------------------------------------------
*/

USE SistemaElectrico
GO

### Drop de tablas (Para evitar problemas frente a posibles cambios)

In [ ]:
-- drop tables

--Información
DROP TABLE Informacion.Miraflores;
DROP TABLE Informacion.Placeres;
DROP TABLE Informacion.Quilpue;
DROP TABLE Informacion.Reñaca;

--Data
DROP TABLE Medicion.Alm_Achupallas;
DROP TABLE Medicion.Alm_Agua_Santa;
DROP TABLE Medicion.Alm_Alejandro_Navarrete;
DROP TABLE Medicion.Alm_El_Sol;
DROP TABLE Medicion.Alm_Gomez_Carreño;
DROP TABLE Medicion.Alm_Quilpue;
DROP TABLE Medicion.Alm_Salinas;
DROP TABLE Medicion.Alm_Villa_Dulce;
DROP TABLE Medicion.Alm_Viña_del_Mar;
DROP TABLE Medicion.FFCC_1;
DROP TABLE Medicion.FFCC_2;

--Indices
DROP TABLE Indices.Alm_Achupallas;
DROP TABLE Indices.Alm_Agua_Santa;
DROP TABLE Indices.Alm_Alejandro_Navarrete;
DROP TABLE Indices.Alm_El_Sol;
DROP TABLE Indices.Alm_Gomez_Carreño;
DROP TABLE Indices.Alm_Quilpue;
DROP TABLE Indices.Alm_Salinas;
DROP TABLE Indices.Alm_Villa_Dulce;
DROP TABLE Indices.Alm_Viña_del_Mar;
DROP TABLE Indices.FFCC_1;
DROP TABLE Indices.FFCC_2;

### Esquemas de organización de la información

In [ ]:
-- create schemas
CREATE SCHEMA Indices;
go

CREATE SCHEMA Medicion;
go

CREATE SCHEMA Informacion;
go

### Tablas con información de los alimentadores según sector de ubicación

In [ ]:
-- create tables
-- Miraflores

CREATE TABLE Informacion.Miraflores (
    Nombre_Alimentador varchar(255),
    ID int,
);

------------------------------------------------------------------------
-- Placeres

CREATE TABLE Informacion.Placeres (
    Nombre_Alimentador varchar(255),
    ID int,
);

------------------------------------------------------------------------
-- Quilpue

CREATE TABLE Informacion.Quilpue (
    Nombre_Alimentador varchar(255),
    ID int,
);

---------------------------------------------------------------------------
-- Reñaca

CREATE TABLE Informacion.Reñaca (
    Nombre_Alimentador varchar(255),
    ID int,
);

In [ ]:
------------------------------------------------------------------------
-- Miraflores

INSERT INTO Informacion.Miraflores(Nombre_Alimentador,ID) VALUES('Alm Villa Dulce', 17478)
INSERT INTO Informacion.Miraflores(Nombre_Alimentador,ID) VALUES('Alm Salinas', 17479)
INSERT INTO Informacion.Miraflores(Nombre_Alimentador,ID) VALUES('Alm Achupallas', 17480)
INSERT INTO Informacion.Miraflores(Nombre_Alimentador,ID) VALUES('Alm Viña del Mar Alto', 17574)

INSERT INTO Informacion.Miraflores(Nombre_Alimentador,ID) VALUES('FFCC_1', 17527)
INSERT INTO Informacion.Miraflores(Nombre_Alimentador,ID) VALUES('FFCC_2', 17528)

------------------------------------------------------------------------
-- Placeres

INSERT INTO Informacion.Placeres(Nombre_Alimentador,ID) VALUES('Alm Agua Santa', 17484)

------------------------------------------------------------------------
-- Quilpue

INSERT INTO Informacion.Quilpue(Nombre_Alimentador,ID) VALUES('Alm El Sol', 17539)
INSERT INTO Informacion.Quilpue(Nombre_Alimentador,ID) VALUES('Alm Quilpue', 17506)

------------------------------------------------------------------------
-- Reñaca

INSERT INTO Informacion.Reñaca(Nombre_Alimentador,ID) VALUES('Alm Gomez Carreño', 17566)
INSERT INTO Informacion.Reñaca(Nombre_Alimentador,ID) VALUES('Alm Alejandro Navarrete', 17575)

In [ ]:
SELECT *
FROM Informacion.Reñaca

### Tablas con mediciones de vatímetro

In [ ]:
-- Alimentadores miraflores

CREATE TABLE Medicion.Alm_Villa_Dulce (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

CREATE TABLE Medicion.Alm_Salinas (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

CREATE TABLE Medicion.Alm_Achupallas (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

CREATE TABLE Medicion.Alm_Viña_del_Mar (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

CREATE TABLE Medicion.FFCC_1 (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

CREATE TABLE Medicion.FFCC_2 (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

------------------------------------------------------------------------------
-- Placeres

CREATE TABLE Medicion.Alm_Agua_Santa (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

-----------------------------------------------------------------------------
-- Quilpue

CREATE TABLE Medicion.Alm_El_Sol (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

CREATE TABLE Medicion.Alm_Quilpue (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

--------------------------------------------------------------------------------
-- Reñaca

CREATE TABLE Medicion.Alm_Gomez_Carreño (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

CREATE TABLE Medicion.Alm_Alejandro_Navarrete (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Kw_del REAL,
    KVAr_del REAL,
    Kw_rec REAL,
    KVAr_rec REAL,
    Tension Real,
);

Tablas con indicadores de estado de alimentador

In [ ]:
-- Alimentadores miraflores

CREATE TABLE Indices.Alm_Villa_Dulce (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

CREATE TABLE Indices.Alm_Salinas (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

CREATE TABLE Indices.Alm_Achupallas (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

CREATE TABLE Indices.Alm_Viña_del_Mar (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

CREATE TABLE Indices.FFCC_1 (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

CREATE TABLE Indices.FFCC_2 (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

------------------------------------------------------------------------------
-- Placeres

CREATE TABLE Indices.Alm_Agua_Santa (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

-----------------------------------------------------------------------------
-- Quilpue

CREATE TABLE Indices.Alm_El_Sol (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

CREATE TABLE Indices.Alm_Quilpue (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

--------------------------------------------------------------------------------
-- Reñaca

CREATE TABLE Indices.Alm_Gomez_Carreño (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

CREATMedicionIAlm_Agua_Santajandro_Navarrete (
    Num INT,
    Nombre_Alimentador varchar(255),
    Fecha varchar(255),
    Hora varchar(255),
    Potencia_Activa_Neta REAL,
    Potencia_Reactiva_Neta REAL,
    Máxima_Potencia_2hrs REAL,
    Factor_de_Potencia REAL,
    Regulación_Tensión REAL,
    Estado_Alimentador varchar(255),
);

In [ ]:
SELECT *
FROM Medicion.Alm_Agua_Santa

--select top 5 * from Medicion.Alm_Villa_Dulce order by Num desc;